#am-credit {
    margin-bottom: 10px;
}

#pokeapi {
    text-decoration: underline;
}

#no-results-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}