@use "../abstracts/colours" as c;

#ranker-select-con {
    justify-content: center;
    display: flex;
}

#ranker-title-con {
    background-image: c.$wood;
    border: 2px solid c.$dark-wood;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#ranker-thumbnail {
    max-width: 50px;
    margin-right: 10px;
}

#ranker-title {
    display: flex;
    align-items: center;
}

#ranker-info-con {
    border: 2px solid c.$dark-wood;
    background-color: c.$body-wood;
    position: relative;
    padding-bottom: 10px;
}

#ranker-big {
    order: -1;
    position: sticky;
    top: 10px;
    height: min-content;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin-top: 10px;
        text-align: center;
    }
}

#ranker-info-con.dark-mode {
    background-color: c.$night-wood;
}

.method-con {
    display: flex;
    background-color: c.$dark-wood;
    border-radius: 20px;
    border: 2px solid white;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.method-cover {
    max-height: fit-content;
    max-height: 100px;
    margin-bottom: 5px;
}

.ranker-vote {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    order: -1;
    width: 45%!important;
}

.ranker-upvote {
    margin-bottom: 10px;
}

.ranker-game-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: -1;
    width: 47.5%!important;
}

.ranker-div-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7.5px;

    p {
        margin-top: 5px;
    }
}

.ranker-master-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.ranker-info-title {
    font-size: calc(100% + 2px);
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 5px;
    width: 100%;
}

.ranker-size-class {
    width: 100%;

    margin-bottom: 20px;
    margin-top: 10px;
}

.ranker-game-title {
    font-size: calc(100% - 2px)!important;
    text-align: center;
}

.rates-text {
    text-align: center;
}

.ranker-instructions-link {
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ranker-notes-title {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

.ranker-notes-div {
    border-top: 2px solid white;
    padding-top: 5px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

#ranker-sorry-con {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranker-odds-div, .ranker-odds-charm-div {
    width: 45%!important;
}

#shiny_rank_body {
    .select2-selection {
        border-radius: 20px!important;
        color: black!important;
        font-family: 'Roboto Slab', 'Noto Serif', Arial, Helvetica, sans-serif;
        font-size: calc(100% - 2px);
        border: 1px solid c.$dark-wood!important;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: left!important;
    }

    .select2-selection__rendered {
        color: black!important;
        font-family: 'Roboto Slab', 'Noto Serif', Arial, Helvetica, sans-serif;
    }

    .select2-results__option {
        color: black!important;
        font-size: calc(100% - 2px)!important;
    }

    .select2-selection__arrow {
        top: 15%!important;
    }
}

#rank-game-filter {
    margin-top: 10px;
    width: -webkit-fill-available;
}

#ranker-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#ranker-con {
    #spinner-con {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.method-desc, .ranker-na-charm, .ranker-instructions-text, .ranker-notes-text {
    font-size: calc(100% - 2px)!important;
}

.ranker-notes-text {
    display: none;
}

.ranker-instructions-text {
    display: none;
}

.ranker-na-charm {
    text-align: center;
}

.ranker-vote-text, .ranker-upvote {
    font-size: calc(100% + 10px)!important;
    text-shadow: 1.5px 1.5px black;
}

.note-bold {
    font-weight: bold;
    font-size: calc(100% + 2px)!important;
}

.method-icon {
    max-height: 30px;
    margin-right: 10px;
}

.ranker-subtext {
    font-size: calc(100% - 4px)!important;
}

.ranker-information {
    order: 1;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .ranker-size-class {
        width: 45%;
    }

    #ranker-big {
        display: flex;
    }

    .ranker-notes-div {
        padding-left: 20px;
    }

    .ranker-information {
        width: 90%;
    }
}

@media screen and (min-width: 1032px) {
    .ranker-master-div {
        flex-wrap: nowrap;
    }

    .ranker-size-class {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .ranker-size-class {
        width: 19%!important;
    }

    .ranker-master-div {
        justify-content: space-between;
    }

    .ranker-game-div, .ranker-vote, .ranker-information {
        order: 0;
    }
}


@media screen and (min-width: 1200px) {
    .ranker-size-class {
        width: 18.5%!important;
    }
}